/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #f1f1f1;
  margin: 0;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(67.5deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%, rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%, rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%, rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%, rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%, rgb(156, 108, 22) 93%, rgb(156, 108, 22) 95%, rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%), linear-gradient(90deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%, rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%, rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%, rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%, rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%, rgb(156, 108, 22) 93%, rgb(156, 108, 22) 95%, rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%), linear-gradient(135deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%, rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%, rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%, rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%, rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%, rgb(156, 108, 22) 93%, rgb(156, 108, 22) 95%, rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%), linear-gradient(0deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%, rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%, rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%, rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%, rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%, rgb(156, 108, 22) 93%, rgb(156, 108, 22) 95%, rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%), linear-gradient(90deg, rgb(8, 8, 8), rgb(221, 221, 221));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle i {
  font-size: 1.5em;
  color: white;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;

}

nav ul li a:hover {
  color: #ff9800;
}

nav ul li a.active {
  color: #ff9800;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 1.5em 0;
}

.container-full {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}

/* Header */
header {
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #ff9800;
}

header p {
  font-size: 1.2em;
  color: rgb(177, 129, 56);
}

/* Sections */
.section {
  padding: 60px 20px;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section h2 {
  font-size: 2.5rem;
  color: #ff9800;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 1.2em;
  margin: 10px 0;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* About Section */
.about {
  padding: 50px 20px;
  margin-bottom: 20px;
  line-height: 1.6em;
  width: 50%;
  border-radius: 10px;
  text-align: justify;
  transition: background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  transform-origin: center;
}

.about:hover {
  background-color: #131312;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about-image {
  flex: 0.5;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 190px;
  height: auto;
  border-radius: 10px;
}

/* Skills Section */
.skill {
  padding: 2em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.skill h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: rgb(177, 129, 56);
}

.skill:hover {
  background-color: #131312;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.skills-list li {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 2px solid rgb(177, 129, 56);
  border-radius: 5px;
  font-size: 1.1rem;
}

/* Experience Section */
.experience {
  padding: 2em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.experience:hover {
  background-color: #131312;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.experience h3 {
  color: rgb(177, 129, 56);
  font-size: 1.5rem;
}

.experience-list {
  list-style-type: disc;
  text-align: justify;
}

.experience-list li {
  margin-left: 2em;
}

/* Project Section */
.project {
  padding: 2em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  background-color: #131312;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project h3 a {
  color: rgb(177, 129, 56); /* Keep the original color */
  text-decoration: none;
  font-size: 1.3rem; /* Remove underline */
}

.project p {
  font-size: 1.1rem;
  text-align: justify;
}

/* Education Section */
.education {
  width: 75%;
  margin: 0 auto;
  padding: 2em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.education:hover {
  background-color: #131312;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.education h3 {
  color: rgb(177, 129, 56);
  font-size: 1.5rem;
}

.education h4 {
  font-size: 1rem;
}

.certifications {
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 2em;
  margin-bottom: 1.5em;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.certifications:hover {
  background-color: #131312;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.certifications h3 {
  color: rgb(177, 129, 56);
  font-size: 1.2em;
}

.certifications-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  list-style-type: none;
}

.certifications a {
  text-decoration: none;
  color: white;
}

.certifications-list li {
  margin: 1em;
  padding: 0.5em 1em;
  border: 2px solid rgb(177, 129, 56);
  border-radius: 5px;
  margin-left: 2em;
}

.certifications-list li:hover {
  color: #f4f4f9;
  background-color: rgb(177, 129, 56);
}

/* Contact Section */
#contact-style {
  background-color: transparent;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 1.5em;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#contact-style:hover {
  background-color: #131312;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#contact a {
  font-size: 1rem;
  color: rgb(156, 108, 22);
  text-decoration: none;
}

#contact a:hover {
  color: orange;
}

.contact-list {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

/* Footer */
footer {
  background-color: transparent;
  color: #ecf0f1;
  text-align: justify;
  padding: 20px 0;
  text-wrap: nowrap;
}

footer p {
  font-size: 1rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about,
  .about-image {
    width: 100%;
    text-align: justify;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 10px 0;
  }

  header h1 {
    font-size: 2rem;
  }

  header .subtitle {
    font-size: 1rem;
  }

  .skills-list li,
  .project,
  .experience,
  .about {
    padding: 1em;
    font-size: 0.9rem;
  }

  .section h2 {
    font-size: 1.5rem;
  }
}